.timer-btn
    width: 50px
    height: 50px
    border-radius: 50%
    border: none
    position: absolute
    top: 70%
    margin: 10px
    display: flex
    justify-content: center
    align-items: center
    &.play, &.pause
        left: 45%
    &.stop
        right: 45%